@import '../../styles/global.scss';

.defaultLayout {
	display: grid;
	height: 100vh;
	min-height: 100vh;
	width: 100vw;
	min-width: 100vw;
	grid-template-rows: auto 80px;
	grid-template-columns: 100vw;
	justify-items: center;
	align-items: center;
	font-family: "Avenir Next" !important;
}

body {
  padding: 0;
  margin: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: $whitesmoke;
}
