.container {
  width: 100%; }

.container--scrollable {
  overflow: scroll; }

.container--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media (max-width: 667px) {
  .font-adjustable {
    font-size: 14px; } }

@media (min-width: 668px) {
  .font-adjustable {
    font-size: 16px; } }

@media (min-width: 900px) {
  .font-adjustable {
    font-size: 18px; } }

@media (min-width: 1200px) {
  .font-adjustable {
    font-size: 18px; } }

@-webkit-keyframes fade-in {
  0% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@keyframes fade-in {
  0% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@-webkit-keyframes fade-out {
  0% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  100% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; } }

@keyframes fade-out {
  0% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  100% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; } }

.fade-in-bottom {
  -moz-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  -o-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  -ms-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both; }

@-webkit-keyframes fade-in-bottom {
  0% {
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@keyframes fade-in-bottom {
  0% {
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

.roll-in-blurred-right {
  -moz-animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1) 1.7s both;
  -o-animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1) 1.7s both;
  -ms-animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1) 1.7s both;
  -webkit-animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1) 1.7s both;
  animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1) 1.7s both; }

@-webkit-keyframes roll-in-blurred-right {
  0% {
    -moz-transform: translateX(1000px) rotate(720deg);
    -o-transform: translateX(1000px) rotate(720deg);
    -ms-transform: translateX(1000px) rotate(720deg);
    -webkit-transform: translateX(1000px) rotate(720deg);
    transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-transform: translateX(0) rotate(0deg);
    -o-transform: translateX(0) rotate(0deg);
    -ms-transform: translateX(0) rotate(0deg);
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@keyframes roll-in-blurred-right {
  0% {
    -moz-transform: translateX(1000px) rotate(720deg);
    -o-transform: translateX(1000px) rotate(720deg);
    -ms-transform: translateX(1000px) rotate(720deg);
    -webkit-transform: translateX(1000px) rotate(720deg);
    transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-transform: translateX(0) rotate(0deg);
    -o-transform: translateX(0) rotate(0deg);
    -ms-transform: translateX(0) rotate(0deg);
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

.flicker-in-1 {
  -moz-animation: flicker-in-1 2s linear 2s both;
  -o-animation: flicker-in-1 2s linear 2s both;
  -ms-animation: flicker-in-1 2s linear 2s both;
  -webkit-animation: flicker-in-1 2s linear 2s both;
  animation: flicker-in-1 2s linear 2s both; }

@-webkit-keyframes flicker-in-1 {
  0% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  10% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  10.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  10.2% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  20% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  20.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  20.6% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  30% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  30.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  30.5% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  30.6% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  45% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  45.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  50% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  55% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  55.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  57% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  57.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  60% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  60.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  65% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  65.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  75% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  75.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  77% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  77.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  85% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  85.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  86% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  86.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  100% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@keyframes flicker-in-1 {
  0% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  10% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  10.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  10.2% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  20% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  20.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  20.6% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  30% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  30.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  30.5% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  30.6% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  45% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  45.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  50% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  55% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  55.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  57% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  57.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  60% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  60.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  65% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  65.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  75% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  75.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  77% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  77.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  85% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  85.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  86% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  86.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  100% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

.container {
  width: 100%; }

.container--scrollable {
  overflow: scroll; }

.container--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media (max-width: 667px) {
  .font-adjustable {
    font-size: 14px; } }

@media (min-width: 668px) {
  .font-adjustable {
    font-size: 16px; } }

@media (min-width: 900px) {
  .font-adjustable {
    font-size: 18px; } }

@media (min-width: 1200px) {
  .font-adjustable {
    font-size: 18px; } }

@-webkit-keyframes fade-in {
  0% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@keyframes fade-in {
  0% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@-webkit-keyframes fade-out {
  0% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  100% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; } }

@keyframes fade-out {
  0% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  100% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; } }

.fade-in-bottom {
  -moz-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  -o-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  -ms-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both; }

@-webkit-keyframes fade-in-bottom {
  0% {
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@keyframes fade-in-bottom {
  0% {
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

.roll-in-blurred-right {
  -moz-animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1) 1.7s both;
  -o-animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1) 1.7s both;
  -ms-animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1) 1.7s both;
  -webkit-animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1) 1.7s both;
  animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1) 1.7s both; }

@-webkit-keyframes roll-in-blurred-right {
  0% {
    -moz-transform: translateX(1000px) rotate(720deg);
    -o-transform: translateX(1000px) rotate(720deg);
    -ms-transform: translateX(1000px) rotate(720deg);
    -webkit-transform: translateX(1000px) rotate(720deg);
    transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-transform: translateX(0) rotate(0deg);
    -o-transform: translateX(0) rotate(0deg);
    -ms-transform: translateX(0) rotate(0deg);
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@keyframes roll-in-blurred-right {
  0% {
    -moz-transform: translateX(1000px) rotate(720deg);
    -o-transform: translateX(1000px) rotate(720deg);
    -ms-transform: translateX(1000px) rotate(720deg);
    -webkit-transform: translateX(1000px) rotate(720deg);
    transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-transform: translateX(0) rotate(0deg);
    -o-transform: translateX(0) rotate(0deg);
    -ms-transform: translateX(0) rotate(0deg);
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

.flicker-in-1 {
  -moz-animation: flicker-in-1 2s linear 2s both;
  -o-animation: flicker-in-1 2s linear 2s both;
  -ms-animation: flicker-in-1 2s linear 2s both;
  -webkit-animation: flicker-in-1 2s linear 2s both;
  animation: flicker-in-1 2s linear 2s both; }

@-webkit-keyframes flicker-in-1 {
  0% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  10% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  10.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  10.2% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  20% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  20.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  20.6% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  30% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  30.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  30.5% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  30.6% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  45% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  45.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  50% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  55% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  55.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  57% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  57.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  60% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  60.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  65% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  65.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  75% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  75.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  77% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  77.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  85% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  85.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  86% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  86.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  100% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@keyframes flicker-in-1 {
  0% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  10% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  10.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  10.2% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  20% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  20.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  20.6% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  30% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  30.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  30.5% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  30.6% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  45% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  45.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  50% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  55% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  55.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  57% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  57.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  60% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  60.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  65% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  65.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  75% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  75.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  77% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  77.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  85% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  85.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  86% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  86.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  100% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

.datecreated {
  font-size: 10px; }

@media (max-width: 667px) {
  .datecreated {
    font-size: 10px; } }

@media (min-width: 668px) {
  .datecreated {
    font-size: 12px; } }

.homie {
  font-size: 14px;
  font-weight: bold; }

@media (max-width: 667px) {
  .homie {
    font-size: 14px; } }

@media (min-width: 668px) {
  .homie {
    font-size: 16px; } }

.dateofbirth {
  font-size: 10px;
  font-weight: lighter; }

@media (max-width: 667px) {
  .dateofbirth {
    font-size: 10px; } }

@media (min-width: 668px) {
  .dateofbirth {
    font-size: 12px; } }

.description {
  font-style: bold;
  border-width: 3px;
  border-style: double;
  border-color: #ffffff;
  padding: 15px; }

.toolsused {
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
  margin-top: 3px;
  text-align: center; }

@media (max-width: 667px) {
  .toolsused {
    font-size: 10px; } }

@media (min-width: 668px) {
  .toolsused {
    font-size: 12px; } }

.projectlink {
  font-size: 14px;
  font-weight: lighter;
  font-style: bold;
  padding: 15px; }

@media (max-width: 667px) {
  .projectlink {
    font-size: 14px; } }

@media (min-width: 668px) {
  .projectlink {
    font-size: 16px; } }

a {
  text-decoration: none;
  color: #97B18C;
  background-color: #ffffff;
  padding: 5px; }

a:visited {
  color: #97B18C;
  background-color: #ffffff; }

a:hover {
  color: #97B18C;
  background-color: #ffffff;
  text-decoration-line: line-through;
  text-decoration-color: #97B18C; }

a:active {
  color: #97B18C;
  background-color: #ffffff; }

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  overflow: scroll;
  z-index: 2000;
  background-color: #97B18C;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  position: fixed;
  right: 50%;
  top: 50%;
  -moz-transform: translateY(-50%) translateX(50%);
  -o-transform: translateY(-50%) translateX(50%);
  -ms-transform: translateY(-50%) translateX(50%);
  -webkit-transform: translateY(-50%) translateX(50%);
  transform: translateY(-50%) translateX(50%);
  opacity: 0;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  min-width: 70%;
  max-width: 90%;
  max-height: 90%;
  padding: 20px 40px 20px 40px;
  outline: 1px solid #ffffff;
  outline-offset: -10px;
  box-shadow: 2px 5px 10px #000000;
  box-shadow: 0px 20px 30px -10px #181717;
  box-sizing: border-box; }

.card-container.hide-card {
  -moz-transform: translate(200%, 0);
  -o-transform: translate(200%, 0);
  -ms-transform: translate(200%, 0);
  -webkit-transform: translate(200%, 0);
  transform: translate(200%, 0);
  -moz-transition: opacity 0.3s, transform 0s 0.3s;
  -o-transition: opacity 0.3s, transform 0s 0.3s;
  -webkit-transition: opacity 0.3s, transform 0s 0.3s;
  transition: opacity 0.3s, transform 0s 0.3s;
  -moz-opacity: 0;
  -o-opacity: 0;
  -ms-opacity: 0;
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0; }

.card-container.show-card {
  -moz-opacity: 100;
  -o-opacity: 100;
  -ms-opacity: 100;
  -webkit-opacity: 100;
  -khtml-opacity: 100;
  opacity: 100; }

.card-container.no-card {
  -moz-transform: translate(200%, 0);
  -o-transform: translate(200%, 0);
  -ms-transform: translate(200%, 0);
  -webkit-transform: translate(200%, 0);
  transform: translate(200%, 0);
  -moz-transition: opacity 0.3s, transform 0s 0.3s;
  -o-transition: opacity 0.3s, transform 0s 0.3s;
  -webkit-transition: opacity 0.3s, transform 0s 0.3s;
  transition: opacity 0.3s, transform 0s 0.3s; }

.card-container .title {
  font-size: 30px; }

@media (max-width: 667px) {
  .card-container .title {
    font-size: 30px; } }

@media (min-width: 668px) {
  .card-container .title {
    font-size: 32px; } }

.card-container .extra-info-container {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card-container .close-extra-card {
  position: absolute;
  top: 1px;
  right: 1px;
  line-height: 10px;
  width: 10px;
  height: 10px;
  padding: 10px;
  background-color: whitesmoke;
  color: #97B18C;
  outline: 3px solid #97B18C;
  outline-offset: -3px;
  font-weight: bold;
  cursor: pointer; }
