@import '../../../../styles/global.scss';
@import '../Cards.scss';

.card-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	overflow: scroll;
	z-index: 2000;
	
	background-color: $primary-mono-200;
	color: $white;
	font-family: "Courier New", Courier, monospace;
	
	position: fixed;
	right: 50%;
	top: 50%;
	@include transform(translateY(-50%) translateX(50%));
	
	opacity: 0;
	@include transition(opacity 0.3s);
	
	min-width: 70%;
	max-width: 90%;
	max-height: 90%;
	padding: 20px 40px 20px 40px;
	outline: 1px solid $white;
	outline-offset: -10px;
	box-shadow: 2px 5px 10px $black;
	box-shadow: 0px 20px 30px -10px $base-1000;
	box-sizing: border-box;

	&.hide-card {
		@include transform(translate(200%, 0));
		@include transition(opacity 0.3s, transform 0s 0.3s);
		@include opacity(0);
	}
	
	&.show-card {
		@include opacity(100);
	}

	&.no-card {
		@include transform(translate(200%, 0));
		@include transition(opacity 0.3s, transform 0s 0.3s);
	}

	.title {
		@include fontSize(30);
	}

	.extra-info-container {
		width: 100%;
		padding: 8px;
		display: flex;
		flex-direction: column;
    justify-content: center;
    align-items: center;
	}

	.close-extra-card {
		position: absolute;
		top: 1px;
		right: 1px;
		line-height: 10px;
		width: 10px;
		height: 10px;
		padding: 10px;
		background-color: $whitesmoke;
		color: $primary-mono-200;
		outline: 3px solid $primary-mono-200;
		outline-offset: -3px;
		font-weight: bold;
		cursor: pointer;
	}
}
