@import '../../styles/global.scss';

.about {
	ul {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	section {
		min-height: 100vh;
		background-color: $whitesmoke;
		padding: 0px 50px 0px 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}