@import '../../styles/global.scss';

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
	min-height: 100vh;

	.business-card {
		padding: 8px 30px 8px 30px;
		background-color: $primary-mono-400;
		color: $whitesmoke;
		// box-shadow: 2px 5px 10px $base-400;
		outline: 1px solid $whitesmoke;
		outline-offset: -10px;
	}
}