@mixin breakpoint($deviceType) {
	@if $deviceType == xs {
		@media (max-width: 667px) { @content; }
	}
	@else if $deviceType == xsl {
		@media only screen 
		and (min-device-width: 375px) 
		and (max-device-width: 667px) 
		and (-webkit-min-device-pixel-ratio: 2)
		and (orientation: landscape) { @content; }
	}
	@else if $deviceType == s {
		@media (min-width: 668px) { @content; }
	}
	@else if $deviceType == sl {
		@media only screen 
		and (min-device-width: 668px) 
		and (max-device-width: 900px) 
		and (-webkit-min-device-pixel-ratio: 2)
		and (orientation: landscape) { @content; }
	}
	@else if $deviceType == m {
		@media (min-width: 900px) { @content; }
	}
	@else if $deviceType == l {
		@media (min-width: 1200px) { @content; }
	}
	@else if $deviceType == xl {
		@media (min-width: 1800px) { @content; }
	}
	@else {
		@warn "The breakpoint mixin supports the following attributes: xs, s, m, l, xl";
	}
}