@mixin transition($transition...) {
	-moz-transition: $transition;
	-o-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin animation($animations) {
	-moz-animation: $animations;
	-o-animation: $animations;
	-ms-animation: $animations;
	-webkit-animation: $animations;
	animation: $animations;
}

@mixin opacity($opacities) {
	-moz-opacity: $opacities;
	-o-opacity: $opacities;
	-ms-opacity: $opacities;
	-webkit-opacity: $opacities;
	-khtml-opacity: $opacities;
	opacity: $opacities;
}