@mixin linx ($primary-color, $secondary-color) {
	a {
		text-decoration: none;
		color: $primary-color;
		background-color: $secondary-color;
		padding: 5px;

		&:visited {
			color: $primary-color;
			background-color: $secondary-color;
		}
		&:hover {
			color: $primary-color;
			background-color: $secondary-color;
			text-decoration-line: line-through;
			text-decoration-color: $primary-color;
		}
		&:active {
			color: $primary-color;
			background-color: $secondary-color;
		}
	}
}
