@import '../../../styles/global.scss';

.eyecontainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 40px;
	width: 40px;
	padding: 5px;
	box-sizing: border-box;
	outline: 1px solid $white;
	outline-offset: -3px;
	background-color: $primary-mono-300;
	cursor: pointer;
	z-index: 2;
}