@import '../../../styles/global.scss';

.sentence {
	width: 70%;
	padding: 0px 35px 0px 35px;

	z-index: 3;
	color: $whitesmoke;

	@extend .font-adjustable;

	.reveal-holder {
		position: relative;
		display: inline-block;
		overflow: hidden;
	}

	.reveal-block {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: $primary-mono-200;
	}

	.reveal-block::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $primary-mono-300;
		transition-property: transform;
		transition-duration: 0.3s;
	}

	.reveal-block.right::before {
		transform: scaleX(0);
		transform-origin: 0% 100%;
	}

	.reveal-block.right.aos-animate::before {
		transform: scaleX(1);
	}

	[data-aos="reveal-right"] {
		transform: scaleX(1);
		transform-origin: 100% 0%;
		transition-property: transform;
		transition-delay: 0.3s;
	}

	[data-aos="reveal-right"].aos-animate {
		transform: scaleX(0);
	}
}