$fern-mono-100: #CBD8C5;
$fern-mono-200: #97B18C;
$fern-mono-300: #718469;
$fern-mono-400: #214912;
$fern-mono-500: #17310C;
$fern-mono-600: #112409;

$wood-tint-100: #735524;
$wood-tint-200: #816639;
$wood-tint-300: #8f764f;
$wood-tint-400: #9d8865;
$wood-tint-500: #ab997b;
$wood-tint-600: #b9aa91;
$wood-tint-700: #c7bba7;
$wood-tint-800: #d5ccbd;
$wood-tint-900: #e3ddd3;
$wood-tint-1000: #f1eee9;

$wood-shade-100: #735524;
$wood-shade-200: #674c20;
$wood-shade-300: #5c441c;
$wood-shade-400: #503b19;
$wood-shade-500: #453315;
$wood-shade-600: #392a12;
$wood-shade-700: #2e220e;
$wood-shade-800: #22190a;
$wood-shade-900: #171107;
$wood-shade-1000: #0b0803;

$grey-100: #f1eee9;
$grey-200: #d8d6d1;
$grey-300: #c0beba;
$grey-400: #a8a6a3;
$grey-500: #908e8b;
$grey-600: #787774;
$grey-700: #605f5d;
$grey-800: #484745;
$grey-900: #302f2e;
$grey-1000: #181717;

$white: #ffffff;
$whitesmoke: whitesmoke;
$black: #000000;

$base-100: $grey-100;
$base-200: $grey-200;
$base-300: $grey-300;
$base-400: $grey-400;
$base-500: $grey-500;
$base-600: $grey-600;
$base-700: $grey-700;
$base-800: $grey-800;
$base-900: $grey-900;
$base-1000: $grey-1000;

$primary-mono-100: $fern-mono-100;
$primary-mono-200: $fern-mono-200;
$primary-mono-300: $fern-mono-300;
$primary-mono-400: $fern-mono-400;
$primary-mono-500: $fern-mono-500;
$primary-mono-600: $fern-mono-600;

$secondary-tint-100: $wood-tint-100;
$secondary-tint-200: $wood-tint-200;
$secondary-tint-300: $wood-tint-300;
$secondary-tint-400: $wood-tint-400;
$secondary-tint-500: $wood-tint-500;
$secondary-tint-600: $wood-tint-600;
$secondary-tint-700: $wood-tint-700;
$secondary-tint-800: $wood-tint-800;
$secondary-tint-900: $wood-tint-900;
$secondary-tint-1000: $wood-tint-1000;

$secondary-shade-100: $wood-shade-100;
$secondary-shade-200: $wood-shade-200;
$secondary-shade-300: $wood-shade-300;
$secondary-shade-400: $wood-shade-400;
$secondary-shade-500: $wood-shade-500;
$secondary-shade-600: $wood-shade-600;
$secondary-shade-700: $wood-shade-700;
$secondary-shade-800: $wood-shade-800;
$secondary-shade-900: $wood-shade-900;
$secondary-shade-1000: $wood-shade-1000;
