.container {
  width: 100%; }

.container--scrollable {
  overflow: scroll; }

.container--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media (max-width: 667px) {
  .font-adjustable {
    font-size: 14px; } }

@media (min-width: 668px) {
  .font-adjustable {
    font-size: 16px; } }

@media (min-width: 900px) {
  .font-adjustable {
    font-size: 18px; } }

@media (min-width: 1200px) {
  .font-adjustable {
    font-size: 18px; } }
