@import '../mixins/breakpoint.scss';

.container {
	width: 100%;
}

.container--scrollable {
	overflow: scroll;
}

.container--center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.font-adjustable {
	@include breakpoint('xs') {
		font-size: 14px;
	}

	@include breakpoint('s') {
		font-size: 16px;
	}

	@include breakpoint('m') {
		font-size: 18px;
	}

	@include breakpoint('l') {
		font-size: 18px;
	}
}