@import '../../styles/mixins/compatibility.scss';

@-webkit-keyframes fade-in {
  0% {
    @include opacity(0);
  }
  100% {
    @include opacity(1);
  }
}
@keyframes fade-in {
  0% {
    @include opacity(0);
  }
  100% {
    @include opacity(1);
  }
}

@-webkit-keyframes fade-out {
  0% {
    @include opacity(1);
  }
  100% {
    @include opacity(0);
  }
}
@keyframes fade-out {
  0% {
    @include opacity(1);
  }
  100% {
    @include opacity(0);
  }
}

.fade-in-bottom {
	@include animation(fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both);
}

@-webkit-keyframes fade-in-bottom {
	0% {
		@include transform(translateY(50px));
		@include opacity(0);
	}
	100% {
		@include transform(translateY(0));
		@include opacity(1);
	}
}
@keyframes fade-in-bottom {
	0% {
		@include transform(translateY(50px));
		@include opacity(0);
	}
	100% {
		@include transform(translateY(0));
		@include opacity(1);
	}
}

.roll-in-blurred-right {
	@include animation(roll-in-blurred-right 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.7s both);
}

@-webkit-keyframes roll-in-blurred-right {
  0% {
		@include transform(translateX(1000px) rotate(720deg));
    -webkit-filter: blur(50px);
            filter: blur(50px);
    @include opacity(0);
  }
  100% {
		@include transform(translateX(0) rotate(0deg));
    -webkit-filter: blur(0);
            filter: blur(0);
    @include opacity(1);
  }
}
@keyframes roll-in-blurred-right {
  0% {
		@include transform(translateX(1000px) rotate(720deg));
    -webkit-filter: blur(50px);
            filter: blur(50px);
    @include opacity(0);
  }
  100% {
		@include transform(translateX(0) rotate(0deg));
    -webkit-filter: blur(0);
            filter: blur(0);
    @include opacity(1);
  }
}

.flicker-in-1 {
	@include animation(flicker-in-1 2s linear 2.0s both);
}

@-webkit-keyframes flicker-in-1 {
	0% {
		@include opacity(0);
	}
	10% {
		@include opacity(0);
	}
	10.1% {
		@include opacity(1);
	}
	10.2% {
		@include opacity(0);
	}
	20% {
		@include opacity(0);
	}
	20.1% {
		@include opacity(1);
	}
	20.6% {
		@include opacity(0);
	}
	30% {
		@include opacity(0);
	}
	30.1% {
		@include opacity(1);
	}
	30.5% {
		@include opacity(1);
	}
	30.6% {
		@include opacity(0);
	}
	45% {
		@include opacity(0);
	}
	45.1% {
		@include opacity(1);
	}
	50% {
		@include opacity(1);
	}
	55% {
		@include opacity(1);
	}
	55.1% {
		@include opacity(0);
	}
	57% {
		@include opacity(0);
	}
	57.1% {
		@include opacity(1);
	}
	60% {
		@include opacity(1);
	}
	60.1% {
		@include opacity(0);
	}
	65% {
		@include opacity(0);
	}
	65.1% {
		@include opacity(1);
	}
	75% {
		@include opacity(1);
	}
	75.1% {
		@include opacity(0);
	}
	77% {
		@include opacity(0);
	}
	77.1% {
		@include opacity(1);
	}
	85% {
		@include opacity(1);
	}
	85.1% {
		@include opacity(0);
	}
	86% {
		@include opacity(0);
	}
	86.1% {
		@include opacity(1);
	}
	100% {
		@include opacity(1);
	}
}
@keyframes flicker-in-1 {
	0% {
		@include opacity(0);
	}
	10% {
		@include opacity(0);
	}
	10.1% {
		@include opacity(1);
	}
	10.2% {
		@include opacity(0);
	}
	20% {
		@include opacity(0);
	}
	20.1% {
		@include opacity(1);
	}
	20.6% {
		@include opacity(0);
	}
	30% {
		@include opacity(0);
	}
	30.1% {
		@include opacity(1);
	}
	30.5% {
		@include opacity(1);
	}
	30.6% {
		@include opacity(0);
	}
	45% {
		@include opacity(0);
	}
	45.1% {
		@include opacity(1);
	}
	50% {
		@include opacity(1);
	}
	55% {
		@include opacity(1);
	}
	55.1% {
		@include opacity(0);
	}
	57% {
		@include opacity(0);
	}
	57.1% {
		@include opacity(1);
	}
	60% {
		@include opacity(1);
	}
	60.1% {
		@include opacity(0);
	}
	65% {
		@include opacity(0);
	}
	65.1% {
		@include opacity(1);
	}
	75% {
		@include opacity(1);
	}
	75.1% {
		@include opacity(0);
	}
	77% {
		@include opacity(0);
	}
	77.1% {
		@include opacity(1);
	}
	85% {
		@include opacity(1);
	}
	85.1% {
		@include opacity(0);
	}
	86% {
		@include opacity(0);
	}
	86.1% {
		@include opacity(1);
	}
	100% {
		@include opacity(1);
	}
}
