@import './PictureFrame.scss';

.bitArtwork {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	background-color: $base-100;
	
	@extend .thinframe;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	background-color: $white;

	@extend .passepartout;
}