@import '../../../styles/global.scss';

.frame {
	border:solid 4vmin $secondary-tint-500;
	border-bottom-color: $secondary-tint-400;
	border-left-color: $secondary-tint-500;
	border-right-color: $secondary-tint-500;
	border-top-color: $secondary-tint-600;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	box-shadow: 0px 6px 5px -4px $base-600;
	&:after {
		box-shadow:
		0 0 0 2vmin inset rgba(238, 226, 55, 0.2),
		0 0 0 1vmin inset rgba(216, 190, 41, 0.3);
		position: absolute;
		content: "";
		bottom: -3vmin;
		left: -3vmin;
		right: -3vmin;
		top: -3vmin;
	}
}

.thickframe {
	border:solid 5vmin $secondary-tint-500;
	border-bottom-color: $secondary-tint-400;
	border-left-color: $secondary-tint-500;
	border-right-color: $secondary-tint-500;
	border-top-color: $secondary-tint-600;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	box-shadow: 0px 6px 5px -4px $base-600;
	&:after {
		box-shadow:
		0 0 0 2vmin inset rgba(238, 226, 55, 0.2),
		0 0 0 1vmin inset rgba(216, 190, 41, 0.3);
		position: absolute;
		content: "";
		bottom: -4vmin;
		left: -4vmin;
		right: -4vmin;
		top: -4vmin;
	}
}

.thinframe {
	border:solid 7px $secondary-tint-500;
	border-bottom-color: $secondary-tint-400;
	border-left-color: $secondary-tint-500;
	border-right-color: $secondary-tint-500;
	border-top-color: $secondary-tint-600;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	box-shadow: 0px 6px 5px -4px $base-600;
	&:after {
		box-shadow:
		0 0 0 3px inset rgba(238, 226, 55, 0.2),
		0 0 0 2px inset rgba(216, 190, 41, 0.3);
		position: absolute;
		content: "";
		bottom: -5px;
		left: -5px;
		right: -5px;
		top: -5px;
	}
}


.passepartout {
	border:solid 2px;
	border-bottom-color: $base-200;
	border-left-color: $base-300;
	border-right-color: $base-300;
	border-top-color: $base-400;
	background-color: white;
}
