@import '../../../styles/global.scss';

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding: 0px 50px 0px 50px;
	box-sizing: border-box;
	
	position: fixed;
	top: 0;
	z-index: 2000;
}

.hidden-bits {
	align-self: flex-start;
	text-shadow:
		-1px -1px 0 $primary-mono-300,  
		1px -1px 0 $primary-mono-300,
		-1px 1px 0 $primary-mono-300,
		1px 1px 0 $primary-mono-300;
}

h1 {
	cursor: pointer;
}

@supports((text-stroke: 1px $primary-mono-300) or (-webkit-text-stroke: 1px $primary-mono-300)) {
	.hidden-bits {
		align-self: flex-start;
		color: transparent;
		-webkit-text-stroke: 1px $primary-mono-300;
		text-stroke: 1px $primary-mono-300;
		text-shadow: none;
	}
}