@import '../../../styles/global.scss';
@import '../../../components/HomeViewComponents/BitArtwork/PictureFrame.scss';

.maya-frame {
	bottom: 0;
	margin: 20px 50px 0px 50px;
	padding: 24px;
	background-color: $secondary-tint-800;

	@extend .thinframe;
}

.maya {
	padding: 20px;
	@extend .passepartout;
}