@import '../../../../styles/global.scss';
@import '../Cards.scss';

.bit-card {
	background: $primary-mono-200;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 70%;
	height: auto;
	background-color: $white;
	box-shadow: 2px 10px 15px $base-400;
	font-family: "Courier New", Courier, monospace;

	border: 1px solid $primary-mono-100;
	outline: 8px solid $white;

	margin: 40px;
	padding: 10px;
	box-sizing: border-box;
	cursor: pointer;

	&.hide-card {
		@include animation(fade-out 0.3s ease-out both);
	}
	
	&.show-card {
		@include animation(fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both);
	}

	.title {
		@include fontSize(14);
		font-weight: bold;
	}
}