@import '../../../../styles/global.scss';

.grid-shape {
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	
	.square {
		position: absolute;
		display: inline-block;
		overflow: hidden;
		z-index: 2;

		height: 50%;
		width: 70%;

		background-size: 40px 40px;
		background-image: linear-gradient(to right, $primary-mono-200 1px, transparent 1px), linear-gradient(to bottom, $primary-mono-200 1px, transparent 1px);
	}

	.grid-overlay {
		position: absolute;
		display: inline-block;
		overflow: hidden;
		z-index: 1;

		height: 50%;
		width: 70%;

		background-color: $primary-mono-300;
	}
}