.container {
  width: 100%; }

.container--scrollable {
  overflow: scroll; }

.container--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media (max-width: 667px) {
  .font-adjustable {
    font-size: 14px; } }

@media (min-width: 668px) {
  .font-adjustable {
    font-size: 16px; } }

@media (min-width: 900px) {
  .font-adjustable {
    font-size: 18px; } }

@media (min-width: 1200px) {
  .font-adjustable {
    font-size: 18px; } }

@-webkit-keyframes fade-in {
  0% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@keyframes fade-in {
  0% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@-webkit-keyframes fade-out {
  0% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  100% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; } }

@keyframes fade-out {
  0% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  100% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; } }

.fade-in-bottom {
  -moz-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  -o-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  -ms-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both; }

@-webkit-keyframes fade-in-bottom {
  0% {
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@keyframes fade-in-bottom {
  0% {
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

.roll-in-blurred-right {
  -moz-animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1) 1.7s both;
  -o-animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1) 1.7s both;
  -ms-animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1) 1.7s both;
  -webkit-animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1) 1.7s both;
  animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1) 1.7s both; }

@-webkit-keyframes roll-in-blurred-right {
  0% {
    -moz-transform: translateX(1000px) rotate(720deg);
    -o-transform: translateX(1000px) rotate(720deg);
    -ms-transform: translateX(1000px) rotate(720deg);
    -webkit-transform: translateX(1000px) rotate(720deg);
    transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-transform: translateX(0) rotate(0deg);
    -o-transform: translateX(0) rotate(0deg);
    -ms-transform: translateX(0) rotate(0deg);
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@keyframes roll-in-blurred-right {
  0% {
    -moz-transform: translateX(1000px) rotate(720deg);
    -o-transform: translateX(1000px) rotate(720deg);
    -ms-transform: translateX(1000px) rotate(720deg);
    -webkit-transform: translateX(1000px) rotate(720deg);
    transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    -moz-transform: translateX(0) rotate(0deg);
    -o-transform: translateX(0) rotate(0deg);
    -ms-transform: translateX(0) rotate(0deg);
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

.flicker-in-1 {
  -moz-animation: flicker-in-1 2s linear 2s both;
  -o-animation: flicker-in-1 2s linear 2s both;
  -ms-animation: flicker-in-1 2s linear 2s both;
  -webkit-animation: flicker-in-1 2s linear 2s both;
  animation: flicker-in-1 2s linear 2s both; }

@-webkit-keyframes flicker-in-1 {
  0% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  10% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  10.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  10.2% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  20% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  20.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  20.6% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  30% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  30.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  30.5% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  30.6% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  45% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  45.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  50% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  55% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  55.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  57% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  57.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  60% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  60.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  65% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  65.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  75% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  75.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  77% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  77.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  85% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  85.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  86% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  86.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  100% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@keyframes flicker-in-1 {
  0% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  10% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  10.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  10.2% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  20% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  20.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  20.6% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  30% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  30.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  30.5% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  30.6% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  45% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  45.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  50% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  55% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  55.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  57% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  57.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  60% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  60.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  65% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  65.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  75% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  75.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  77% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  77.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  85% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  85.1% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  86% {
    -moz-opacity: 0;
    -o-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  86.1% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  100% {
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

.sidebar-container {
  background: #b9aa91;
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  overflow: scroll;
  z-index: 1000;
  -moz-transition: all 0.3s cubic-bezier(0, 0.52, 0, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0.52, 0, 1);
  -webkit-transition: all 0.3s cubic-bezier(0, 0.52, 0, 1);
  transition: all 0.3s cubic-bezier(0, 0.52, 0, 1); }

.sidebar-container.hide-menu {
  -moz-transform: translate(300px, 0);
  -o-transform: translate(300px, 0);
  -ms-transform: translate(300px, 0);
  -webkit-transform: translate(300px, 0);
  transform: translate(300px, 0); }

.sidebar-container.show-menu {
  -moz-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -webkit-transform: translate(0px, 0);
  transform: translate(0px, 0);
  overflow: hidden; }

.sidebar {
  padding: 30px 0 30px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none; }

.sidebar li {
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  padding: 10px 0 10px 0; }

.sidebar a {
  text-decoration: none;
  color: #ab997b;
  background-color: whitesmoke;
  padding: 5px; }

.sidebar a:visited {
  color: #ab997b;
  background-color: whitesmoke; }

.sidebar a:hover {
  color: #ab997b;
  background-color: whitesmoke;
  text-decoration-line: line-through;
  text-decoration-color: #ab997b; }

.sidebar a:active {
  color: #ab997b;
  background-color: whitesmoke; }

.overlay-container {
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999; }

.overlay-container.hide-menu {
  -moz-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -moz-transition: opacity 0.3s, transform 0s 0.3s;
  -o-transition: opacity 0.3s, transform 0s 0.3s;
  -webkit-transition: opacity 0.3s, transform 0s 0.3s;
  transition: opacity 0.3s, transform 0s 0.3s; }

.overlay-container.show-menu {
  opacity: 100; }
