@import '../../../styles/global.scss';

.sidebar-container {
	background: $secondary-tint-600;
	height: 100vh;
	width: 250px;
	position: fixed;
	top: 0;
	right: 0;
	overflow: scroll;
	z-index: 1000;
	@include transition(all 0.3s cubic-bezier(0, 0.52, 0, 1));

	&.hide-menu {
		@include transform(translate(300px, 0));
	}

	&.show-menu {
		@include transform(translate(0px, 0));
		overflow: hidden;
	}
}

.sidebar {
	padding: 30px 0 30px 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	list-style: none;

	li {
		text-align: center;
		text-decoration: none;
		margin: 0 auto;
		padding: 10px 0 10px 0;
	}

	@include linx($secondary-tint-500, $whitesmoke);
}

.overlay-container {
	@include transition(opacity 0.3s);
	opacity: 0;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;

	&.hide-menu {
		@include transform(translate(100%, 0));
		@include transition(opacity 0.3s, transform 0s 0.3s);
	}

	&.show-menu {
		opacity: 100;
	}
}
