@import '../../../../styles/global.scss';

.circle {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $primary-mono-400;
	z-index: 1;
	border-radius: 50%;
}