@import '../../../styles/global.scss';

@mixin fontSize($size: 12) {
	font-size: $size + px;

	@include breakpoint('xs') {
		font-size: $size + px;
	}

	@include breakpoint('s') {
		font-size: $size + 2 + px;
	}
}

.datecreated {
	@include fontSize(10);
}

.homie {
	@include fontSize(14);
	font-weight: bold;
}

.dateofbirth {
	@include fontSize(10);
	font-weight: lighter;
}

.description {
	font-style: bold;
	border-width: 3px;  
	border-style: double;
	border-color: $white;
	padding: 15px;
}

.toolsused {
	@include fontSize(10);
	font-weight: bold;
	font-style: italic;
	margin-top: 3px;
	text-align: center;
}

.projectlink {
	@include fontSize(14);
	font-weight: lighter;
	font-style: bold;
	padding: 15px;
}

@include linx($primary-mono-200, $white);