@import '../../../styles/global.scss';

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	grid-auto-rows: 1fr;
	grid-gap: 0px 200px;
}

.grid::before {
	content: '';
	width: 0;
	padding-bottom: 100%;
	grid-row: 1 / 1;
	grid-column: 1 / 1;
}

.grid > *:first-child {
	grid-row: 1 / 1;
	grid-column: 1 / 1;
}

.grid {
	list-style: none;
	padding: 50px 50px 50px 50px;
	margin: 0;

	li {
		width: 100%;
		text-align: center;
		text-decoration: none;
		margin: 0 auto;
		padding: 20px 0 20px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-bottom: 3px double $primary-mono-100;
	}
}